.bg{
    background-color: black;
}
.cardalign{
    display: flex;
    flex-wrap: wrap;
    

}
.m{
    margin: 0.5rem
}
label{
    display: inline-block;
    margin-bottom: 00.5rem;
}
select{
    margin: 0;
    line-height: inherit;
}
a{
    color: #28a745;
}