<body>
    <div class=" m-2">
        <div class="card bg-info m-1 build-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <h6 class="text-warning">{{mastery}}</h6>
                <div class="card-text">Fort: {{Fort}}</div>
                <div class="card-text">Chak: {{Chak}}</div>
                <div class="card-text">INT: {{int}}</div>
                <div class="card-text">STR: {{str}}</div>
                <div class="card-text">AGI: {{agi}}</div>
                <div class="card-text">weapon: {{weapon}}</div>
                <div class="card-text">Created AT: {{creationDate}}</div>
                <div class="card-text">Updated AT: {{updateDate}}</div>
            </div>
        </div>
    </div>
</body>
