.bg-info{
    background-color: #17a2b8!important;
    
    
}
nav{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
a{
    padding: 8px 8px !important;
}