<nav class="navbar bg-info ">
  <ul class="nav small">
    <li class="nav-item">
      <a class="nav-link text-white" href="/MetaNin"><b>MetaNin</b></a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/About">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white active" href="/Create">Create</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/Explore">Explore</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/MetaMap">MetaMap</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/MetaGrinder">MetaGrinder</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/WallOfFame">Wall Of Fame</a>
    </li>
  </ul>

  <ul class="nav small">
    <li class="nav-item">
      <a class="nav-link text-white" href="/Signin">Signin</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/Signup">Signup</a>
    </li>

  </ul>

</nav>