<nav class="navbar bg-info ">
  <ul class="nav small">
    <li class="nav-item">
      <a class="nav-link text-white" href="#"><b>MetaNin</b></a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white active" href="#">Create</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">Explore</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">MetaMap</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">MetaGrinder</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">Wall Of Fame</a>
    </li>
  </ul>

  <ul class="nav small">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Signin</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">Signup</a>
    </li>

  </ul>

</nav>