
<div class=" main">
    <body>
        <div class="box scroll">
            <br>
            <br>
            <h2>Welcome to Metanin!</h2>
            <h1>Metanin last updated in 14.01.21</h1>
            <p class="b-par">Let me know if anything is outdated (balance changes, new weapons, new jutsus, etc...)<br>Deviax#6094</p>
            
            <br>
            <p>
                15.01.22;<br>
                - Default Level is now 60 on build creation <br>
                - Cell Regeneration Technique now heals more times with shorter intervals (3s->2s) in smaller increments
                - WindShuriken, Wind Sctyhe changes <br>
                - Combusting Vortex changes <br>
                - Feast Of Lightning Changes <br>
                - Poison Senbon, Poison Scalpel Changes <br>
                - Water Slash, Water Sub, Water Prison Changes <br> 
                - Triple Tags, Invisible Tag, Exploding Spiked Ball, Bear Trap Changes <br>
                - Risky Blade, Blade Piercing, Wild Slashes Changes <br>
            <br>
            <br>
        </p>
        
        <p>
        25.06.21:<br>
        - Added Adamantine Staff <br>
        - Added new pipe and updated dmg on both <br>
        - Updated Bubble jutsus dmg <br>
        - Updated Crystal Fan & Blood Iron Fan dmg <br>
        - Updated Poison Scalpel dmg <br>
        - Updated Blood Tonfas base dmg <br>
        <br>
        <br>
        </p>

        <p>
            13-14.01.21: <br>
            Land of iron content Added! <br>
            - Added Snow Leopard, Emporer Penguin, Samurai and horned samuri to metagrinder (thanks hageshi for some of the data) <br>
            - Added Raid points Bonus to metagrinder <br>
            - Added Crystal Fan, Blood Iron Fan and Kyuketsuki to weapons list <br>
            - Added Murasama (after buff) to weapons list <br>
            - Fixed nuibar and other fort buff weapons not giving fort (thanks zabuza for lettting me know) <br>
            - Updated vacuum Sphere to reflect balance change (cast time nerf) <br>
            - Updated Wall of fame with lastest Kages,chunnis and jonins <br>
            <br>
            <br>
        </p>

        <p>
            24.10.20: <br>
            Added Best Combo Calculation on build creator! (Still Work in Progress) <br>
            <br>
            <br>

        </p>

        <p>
            14-15.10.20: <br>
            Added Blood puppet and old blood puppet to metagrinder! <br>
            Fixed Fan Scale - Thanks host! <br>
            You can now use your current xp in metagrinder! <br>
            Added missing levels to metagrinder - thanks nin wiki! <br>
            <br> 
            <br>
        </p>

        <p>
            03.10.20: <br>
            Max LVL can be edited on build creation, now it should be easier to make builds for specific lvl <br>
            Registered users can now edit their builds <br>
            Fixed Fan Scale! - Thanks Slaughter<br>
            <br> 
            <br>
        </p>

        <p>
            02.10.20: <br>
            Added some lvl of 50-60 to metagrinder - thanks SandMaster, Sakatsu, Enver, Blade Dancer And Nin Wiki <br>
            Added Rate Kage to metagrinder - thanks nin wiki <br>
            Added ALL daily missions to metagrinder! - thanks nin wiki <br>
            Added Bounty to XP Calculation to Metagrinder! - thanks panda <br>
            <br>
            <br>
        </p>

        <p>
            01.10.20:<br>
            Registered users can now delete their builds <br>
            Added Wall of fame (I will improve the UI later :3) if some info is missing/wrong please let me know on discord <br>
            <br>
            <br>
        </p>

        <p>
            30.09.20: <br>
            YS And Chakra Scalpel are now displayed as checkbox, not as a weapons<br>
            <br>
            <br>
        </p>

        <p>
            18.09.20:<br>
            Fixed Demon Claws bug - Thanks slaughter for letting me know <br>
            Fixed Tonfas str buff - Thanks slaughter for letting me know <br>
            Fixed GF melee dmg and kunai dmg - thanks luhan for letting me know <br>
            Fixed kabutowari str buff - Thanks zabuza for letting me know <br>
            <br>
            <br>
        </p>

        <p>
            15.09.20:<br>
            Added Blood tonfas and Demon Claws! - Thanks jun for the ss <br>
            <br>
            <br>
        </p>

        <p>
            13.09.20:<br>
            Added Filter By jutsus feature to Builds Explorer!<br>
            Updated some jutsus dmg and melee base dmg <br>
            <br>
            <br>
        </p>

        <p>
            23.07.20:<br>
            Added Fire Jutsus burn ticks! Thanks jun for the data<br>
            Fixed Level-Stats calculation bug above level 50<br>
            <br>
            <br>
        </p>

        <p>
            17.07.20:<br>
            Added Blood Katana! Thanks Usoko for the screenshot<br>
            <br>
            <br>

        </p>


        </div>
    </body>
</div>