<body class="bg">
  <div class="row m-5 text-center text-white h-100 ">
    <div class="col-12">
      <h1 class="text-center">About Nin Online</h1>

      <p>
        Nin Online is a 2D Free-to-Play MMORPG where you play as yourself in the
        Ninja world! <br />
        Choose your village and become the most powerful ninja in it. <br/>
        It is a community driven game, where the community makes decisions for the game world and where RP is strongly encouraged.
      </p>

      <a href="https://www.ninonline.org/forum/index.php">Play now!</a>

      <br/>
      <br/>
      <h3 class="mt-5 text-center">About MetaNin</h3>

      <p>
        Well, Im Deviax, Devoted Nin player for almost 2 years now. <br/>
        I love this game, i love the community, So i made this website to help the community :) <br/>
        Thats it, Have fun!
      </p>
    </div>
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>