<div class="container text-white">
    <div class="row">
        <div class="col-8">
            <form #postForm="ngForm">
                <div class="input-group">
                    <span class="input-group-text">
                        Name:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        Mastery:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        Fort:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        Chak:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        INT:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        STR:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        AGI:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        weapon:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        Created At:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-text">
                        Updated At:
                    </span>
                    <input type="text" class="form-control">
                </div>
                <button class="btn text-white" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
