<div class="row justify-content-center mt-3 scroll-vertical background">
  <div class="col-md-6 m-1 back">
    <form>
      <input type="hidden" />
      <h2 class="small text-white">MainStats</h2>

      <div class="row mb-4">
        <div class="col-md-12">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="My OP Build" />
          </div>
        </div>
      </div>
      <div>
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="select input-group input-group-sm">
              <select class="form-select">
                <option value="none">Mastery:</option>
                <option value="none">None</option>
                <option value="earth">Earth</option>
                <option value="wind">Wind</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="light">Lightning</option>
                <option value="medic">Medic</option>
                <option value="tai">Tai</option>
                <option value="wm">Weapons Master</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="select input-group input-group-sm">
              <select class="form-select">
                <option value="none">Mastery:</option>
                <option value="none">None</option>
                <option value="earth">Earth</option>
                <option value="wind">Wind</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="light">Lightning</option>
                <option value="medic">Medic</option>
                <option value="tai">Tai</option>
                <option value="wm">Weapons Master</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-2">
            <div class="input-group input-group-sm col-md-xs-2">
              <div class="input-group-prepend">
                <span class="input-group-text">STR</span>
              </div>
              <input type="text" class="form-control" value="5" />

              <input
                type="text"
                class="form-control butt"
                value="5"
                disabled=""
                style="border-radius: 10px"
              />
            </div>
          </div>

          <div class="col-md-2 ml-2">
            <div class="input-group input-group-sm col-md-xs-1">
              <div class="input-group-prepend">
                <span class="input-group-text">AGI</span>
              </div>
              <input type="text" class="form-control" value="5" />
              <br />
              <input
                type="text"
                class="form-control butt"
                value="5"
                disabled=""
                style="border-radius: 10px"
              />
            </div>
          </div>

          <div class="col-md-2 ml-2">
            <div class="input-group input-group-sm col-md-xs-1">
              <div class="input-group-prepend">
                <span class="input-group-text">INT</span>
              </div>
              <input type="text" class="form-control" value="5" />
              <br />
              <input
                type="text"
                class="form-control butt"
                value="5"
                disabled=""
                style="border-radius: 10px"
              />
            </div>
          </div>

          <div class="col-md-2 ml-2">
            <div class="input-group input-group-sm col-md-xs-2">
              <div class="input-group-prepend">
                <span class="input-group-text">FRT</span>
              </div>
              <input type="text" class="form-control" value="5" />

              <input
                type="text"
                class="form-control butt"
                value="5"
                disabled=""
                style="border-radius: 10px"
              />
            </div>
          </div>

          <div class="col-md-2 ml-2">
            <div class="input-group input-group-sm col-md-xs-2">
              <div class="input-group-prepend">
                <span class="input-group-text">CHK</span>
              </div>
              <input type="text" class="form-control" value="5" />

              <input
                type="text"
                class="form-control butt"
                value="5"
                disabled=""
                style="border-radius: 10px"
              />
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-4">
            <label for="" id="lvlLabel" class="btn btn-dark disabled"
              >Current Level: 1</label>

            <br />

            <div>
              <div class="input-group input-group-sm col-md-xs-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    >MAX LVL:</span>
                </div>
                <input type="text" class="form-control" value="60" />
              </div>
            </div>
          </div>

          <div class="col-md-4 pl-1">
            <label class="btn btn-dark disabled">Points Left: 285</label>
          </div>

          <div class="col-md-4">
            <div class="select">
              <select class="slct form-select">
                <option value="none">Weapon:</option>
                <option value="none">None</option>
                <option value="gf-bs">Pressure Point Needle</option>

                <option disabled="" value="none">Kunais:</option>
                <option value="kunai">Kunai</option>
                <option value="pkunai">Poison Kunai</option>
                <option value="monkey-staff">Adamantine Staff</option>

                <option disabled="" value="none">Tai:</option>
                <option value="tonfas">Tonfas</option>
                <option value="bloodTonfas">Blood Tonfas</option>
                <option value="DemonClaws">Demon Claws</option>

                <option disabled="" value="none">Swords:</option>
                <option value="woodenKatana">Wooden Katana</option>
                <option value="broadSword">Broad Sword</option>
                <option value="butcherSword">Butcher Sword</option>
                <option value="nikuya">Nikuya</option>
                <option value="religousKatana">Religous Katana</option>
                <option value="twinFangs">Twin Fangs</option>
                <option value="shirokata">Shirokata</option>
                <option value="banditBlade">Bandit Blade</option>
                <option value="boneSword">Bone Sword</option>
                <option value="stylishSword">Stylish Sword</option>
                <option value="bloodKatana">Blood Katana</option>
                <option value="scythe">Iron Scythe</option>
                <option value="dark-scythes">Dark Scythes</option>

                <option value="murasama">Murasama</option>
                <option value="crystalSword">Kyuketsuki</option>

                <option disabled="" value="none">Fans:</option>
                <option value="blackFan">Black Fan</option>
                <option value="doubleFan">Double Fan</option>
                <option value="blueFan">Blue Fan</option>
                <option value="crystalFan">Crystal Fan</option>
                <option value="BloodIronFan">Blood Iron Fan</option>

                <option disabled="" value="none">Pipes:</option>

                <option value="bubblePipe-10">Bubble Pipe (Lvl 10)</option>
                <option value="bubblePipe">Bubble Pipe (Lvl 35)</option>
                <option value="P-bubblePipe">Seathorn Pipe</option>

                <option disabled="" value="none">7SM:</option>
                <option value="mist-kubi">Kubikiribōchō</option>
                <option value="mist-shibuki">Shibuki</option>
                <option value="mist-nuibari">Nuibari</option>
                <option value="mist-kiba">Kiba</option>
                <option value="mist-hammer">Kabutowari</option>
                <option value="mist-samehada">Samehada</option>
                <option disabled="" value="none">Village Orgs:</option>
                <option value="leaf-anbu">Leaf Anbu Katana</option>
                <option value="sand-anbu">Sand Anbu Sword</option>
                <option value="mist-anbu">Hunter-Nin Water Whip</option>
                <option value="sand-coffin">Puppet Coffin</option>
              </select>
            </div>
            <div class="select">
              <select class="form-select">
                <option value="None">Charm:</option>
                <option value="None">None</option>
                <option value="Aries">Aries</option>
                <option value="Taurus">Taurus</option>
                <option value="Gemini">Gemini</option>
                <option value="Cancer">Cancer</option>
                <option value="Leo">Leo</option>
                <option value="Virgo">Virgo</option>
                <option value="Libra">Libra</option>
                <option value="Scorpio">Scorpio</option>
                <option value="Sagittarius">Sagittarius</option>
                <option value="Capricorn">Capricorn</option>
                <option value="Aquarius">Aquarius</option>
                <option value="Pisces">Pisces</option>
              </select>
            </div>
            <div class="select">
              <select class="form-select">
                <option value="None">Org:</option>
                <option value="None">None</option>
                <option value="akat">Akatsuki</option>
                <option value="leaf-gaurd">Leaf 12 Guardians</option>
              </select>
            </div>
            <p class="text-white">
              Youthful Spring Activated:<input type="checkbox" /> Sake
              Activated: <input type="checkbox" />
              <br />
              Cursed Seal Activated: <input type="checkbox" />
              <br />
              Chakra Scalpel Activated: <input type="checkbox" />
            </p>
          </div>

          <br />
        </div>

        <div>
          <div class="row mb-4 justify-content-center">
            <div class="col-md-3">
              <label class="btn btn-dark disabled">Melee Damage: 3</label>
            </div>
            <div class="col-md-3">
              <label class="btn btn-dark disabled">Kunai Damage: 2</label>
            </div>
            <div class="col-md-3">
              <label class="btn btn-dark disabled">Shuriken Damage: 3</label>
            </div>
            <div class="col-md-3">
              <label class="btn btn-dark disabled">Senbon Damage: 3</label>
            </div>
          </div>
        </div>

        <div class="row mb-4 justify-content-center">
          <div id="hpBox" class="col-md-5 btn btn-danger disabled mx-1 pt-3">
            <label>HP:100</label>
          </div>

          <div class="col-md-5 btn btn-primary disabled mx-1 pt-3">
            <label>Chakra:50</label>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-12">
            <button
              type="submit"
              class="btn-success btn-block p-3 mt-3 mb-4 submit-btn default-btn">
              Post!
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-5 m-1 back text-white">
    <br />
    Best Combo: (Work in progress, may not be accurate yet)
    <div class="row">
      <div class="col-md-12">
        <table class="p-1 mb-5 table table-dark">
          <tbody class="small">
            <tr>
              <th scope="col">Jutsu Name:</th>
              <th scope="col">Damage:</th>
              <th scope="col">Chakra:</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    Jutsus:
    <div class="row">
      <div class="col-md-12">
        <div class="ml-0">
          <div></div>
          <table class="p-1 mb-5 table table-dark small">
            <thead>
              <tr>
                <th scope="col">Jutsu Name:</th>
                <th scope="col">Damage:</th>
                <th scope="col">Chakra:</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

