<body>
    <div class="m-2">
        <div class="card bg-info m-1 build-card " style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{kaze}}</h5>
                <h6 class="text-warning">{{start}}</h6>
                <h6 class="text-warning">{{end}}</h6>
                <h6 class="text-warning">{{term}}</h6>
                <div class="card-text">Council Member: {{council}}</div>
                <div class="card-text">Council Member: {{council}}</div>
                <div class="card-text">Council Member: {{council}}</div>
                <div class="card-text">Anbu Leader: {{anbu}}</div>
                <div class="card-text">New Jonin: {{njonin}}</div>
                <div class="card-text">new Chunin: {{nchunin}}</div>
                <div class="card-text">Specialized Jonin: {{nsjonin}}</div>
            </div>
        </div>
    </div>
</body>
