<div class="first-container fame-container">
    
    
    <div class="card bg-info m-1 build-card sand" style="width: 18rem;">
        <div class="card-body">
         
          <h5 class="card-title">1st Kazekage: Argoh</h5>
          <h6 class="card-subtitle mb-2 text-warning">Start Date: 15.02.2017</h6>
          <h6 class="card-subtitle mb-2 text-warning">End Date: 15.03.2017</h6>
          <h6 class="card-subtitle mb-2 text-warning">Term: 1 month</h6>
          <div class="card-text">Council Member: ???</div>
          <div class="card-text">Council Member: ???</div>
          <div class="card-text">Council Member: ???</div>
        </div>
      </div>
</div>
